<!doctype html>
<html>
<head>
<title>Tenable.io Bot</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <!--[if lt IE 11]>
            <script>
                window.location = '/unsupported.html';
            </script>
        <![endif]-->
        <link rel="stylesheet" href="/css/tio-a.css" />
        <link rel="stylesheet" href="/css/tio-b.css" />
        <link rel="stylesheet" href="/css/tio-c.css" />
</head>
<body>
<header>
<a class="logo">Tenable.io</a>
<a href="/">Home</a>
<a href="/custlist">Customers</a>
</header>
<section id="layout" style="height: 792px;">
  {{{body}}}
</section>
</body>
</html>
